<section class="container">
    <div>
        <label for="" class="is-size-7-mobile is-size-6-tablet is-size-6-desktop is-size-6-fullhd">Vista general</label>
    </div>
    <div class="columns mt-2">
        <!-- Columna Izquierda (8 de 12 columnas en pantallas grandes, 12 en móviles) -->
        <div class="column is-12-tablet is-8-desktop is-mobile">
            <!-- Card 1 -->
            <div class="columns is-1">
                <div class="column m-1 custom-cards p-2 custom-shadow-cards-link">
                    <div class="is-flex is-align-items-center">
                        <h2 class="has-text-grey">Ultimo bien registrado</h2>
                        <a class="ml-auto" href="">
                            <img class="image is-16x16" src="/icons/consulta.png" alt="">
                        </a>
                    </div>
                    <div class="p-2">
                        <a class="is-flex is-link is-align-items-center" href="">
                            <img class="image is-16x16" src="/icons/bien.png" alt="">
                            <h2 class="ml-3 custom-link has-text-grey-lighter">ARCHIVERO DE MADERA</h2>
                        </a>
                        <label for=""
                            class="has-text-grey is-size-7-mobile is-size-6-tablet is-size-6-desktop is-size-6-fullhd">Cantidad:
                            25</label>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="column m-1 custom-cards p-2 custom-shadow-cards-link">
                    <div class="is-flex is-align-items-center">
                        <h2 class="has-text-grey">Próximo mantenimiento</h2>
                        <a class="ml-auto" href="">
                            <img class="image is-16x16" src="/icons/consulta.png" alt="">
                        </a>
                    </div>
                    <div class="p-2">
                        <a class="is-flex is-link is-align-items-center" href="">
                            <img class="image is-16x16" src="/icons/fecha.png" alt="">
                            <h2 class="ml-3 custom-link has-text-grey-lighter">12/07/25</h2>
                        </a>
                        <label for=""
                            class="has-text-grey is-size-7-mobile is-size-6-tablet is-size-6-desktop is-size-6-fullhd">Para:
                            COMPUTADORA HP</label>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="column m-1 custom-cards p-2  custom-shadow-cards-link">
                    <div class="is-flex is-align-items-center">
                        <h2 class="has-text-grey">Última transferencia</h2>
                        <a class="ml-auto" href="">
                            <img class="image is-16x16" src="/icons/consulta.png" alt="">
                        </a>
                    </div>
                    <div class="p-2">
                        <a class="is-flex is-link is-align-items-center" href="">
                            <img class="image is-16x16" src="/icons/enviar.png" alt="">
                            <h2 class="ml-3 custom-link has-text-grey-lighter">IMPRESORA HP</h2>
                        </a>
                        <label for=""
                            class="has-text-grey is-size-7-mobile is-size-6-tablet is-size-6-desktop is-size-6-fullhd">Realizada
                            por: John Doe</label>
                            custom-table </div>
                </div>
            </div>
            <div class="column is-12-tablet is-12-desktop is-mobile p-5 custom-cards">
                <div class="is-flex is-align-items-center">
                    <h2 class="has-text-grey">Últimos movimientos</h2>
                    <a class="ml-auto" href="">
                        <img class="image is-16x16" src="/icons/consulta.png" alt="">
                    </a>
                </div>
                <div class="">
                    <div class="table-container">
                        <table class="table is-fullwidth custom-table">
                            <thead>
                                <tr>
                                    <th class="has-text-grey-lighter">Tipo</th>
                                    <th class="has-text-grey-lighter">Gestor encargado</th>
                                    <th class="has-text-grey-lighter">Resguardante responsalbe</th>
                                    <th class="has-text-grey-lighter">Bien involucrado</th>
                                    <th class="has-text-grey-lighter">Área</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="has-text-grey">Transferecia</td>
                                    <td class="has-text-grey">Juan Pérez</td>
                                    <td class="has-text-grey">Mary Doe</td>
                                    <td class="has-text-grey">ESCRITORIO DE MADERA</td>
                                    <td class="has-text-grey">Servicios escolares</td>
                                </tr>
                                <tr>
                                    <td class="has-text-grey">Registro</td>
                                    <td class="has-text-grey">Juan Pérez</td>
                                    <td class="has-text-grey">Lane Doe</td>
                                    <td class="has-text-grey">SILLA ESCOLAR</td>
                                    <td class="has-text-grey">Sistemas</td>
                                </tr>
                                <tr>
                                    <td class="has-text-grey">Mantenimiento</td>
                                    <td class="has-text-grey">Tyler Doe</td>
                                    <td class="has-text-grey">Mike Doe</td>
                                    <td class="has-text-grey">COMPUTADORA DELL</td>
                                    <td class="has-text-grey">sistemas</td>
                                </tr>
                                <tr>
                                    <td class="has-text-grey">Transferecia</td>
                                    <td class="has-text-grey">Juan Pérez</td>
                                    <td class="has-text-grey">Jay Doe</td>
                                    <td class="has-text-grey">IMPRESORA HP</td>
                                    <td class="has-text-grey">Servicios escolares</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Columna Derecha (4 de 12 columnas en pantallas grandes, 12 en móviles) -->
        <div class="column is-12-tablet is-4-desktop is-mobile">
            <div class=" custom-cards p-2  custom-shadow-cards-link">
                <div class="is-flex">
                    <label
                        class="has-text-grey is-size-7-mobile is-size-6-tablet is-size-6-desktop is-size-6-fullhd"
                        for="">Centro de trabajo</label>
                    <a class="ml-auto" href="">
                        <img class="image is-16x16" src="/icons/consulta.png" alt="">
                    </a>
                </div>
                <div class="is-flex is-align-items-center mt-3">
                    <h5
                        class="has-text-grey-lighter has-text-weight-bold is-size-5-mobile is-size-5-tablet is-size-5-desktop is-size-5-fullhd">
                        Instituto Tecnológico de Chetumal</h5>
                </div>
                <div>
                    <div class="is-flex p-2">
                        <img class="image is-32x32" src="/icons/bienes.png" alt="">
                        <h2 class="ml-2 has-text-grey">Bienes registrados: 5,642</h2>
                    </div>
                    <div class="is-flex p-2">
                        <img class="image is-32x32" src="/icons/gestor.png" alt="">
                        <h2 class="ml-2 has-text-grey">Gestores asignados: 10</h2>
                    </div>
                    <div class="is-flex p-2">
                        <img class="image is-32x32" src="/icons/zona.png" alt="">
                        <h2 class="ml-2 has-text-grey">Áreas asociadas: 7</h2>
                    </div>
                    <div class="is-flex p-2">
                        <img class="image is-32x32" src="/icons/usuarios.png" alt="">
                        <h2 class="ml-2 has-text-grey">Resguardantes registrados: 532</h2>
                    </div>
                </div>
            </div>
            <div class="custom-cards custom-shadow-cards-danger mt-5 p-2">
                <div class="is-flex">
                    <label
                        class="has-text-grey is-size-7-mobile is-size-6-tablet is-size-6-desktop is-size-6-fullhd"
                        for="">Notificaciones</label>
                    <a class="ml-auto" href="">
                        <img class="image is-16x16" src="/icons/consulta.png" alt="">
                    </a>
                </div>
                <div class="is-flex is-align-items-center mt-3">
                    <h5
                        class="has-text-grey-lighter has-text-weight-bold is-size-5-mobile is-size-5-tablet is-size-5-desktop is-size-5-fullhd">
                        Solicitudes de transferencia </h5>
                </div>
                <div>
                    <h3 class="has-text-secondary">Autorización requerida</h3>
                    <h3 class="has-text-grey">Transferecia de bien: <a href="" class="custom-link has-text-grey-lighter">MONITOR
                            SAMSUNG</a></h3>
                    <h3 class="has-text-grey">Emisor: <a href="" class="custom-link has-text-grey-lighter">Sara Doe</a></h3>
                    <h3 class="has-text-grey">Receptor: <a href="" class="custom-link has-text-grey-lighter">Tyler Doe</a></h3>
                </div>
                <div class="mt-5">
                    <button class="button is-success open-modal" data-target="modal-main-auth1">Autorizar</button>
                    <div class="modal custom-shadow-cards-danger" id="modal-main-auth1">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title has-text-success">Solicitud Autorizada</p>
                                <button class="delete close-modal" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body">
                                <div class="is-flex is-align-items-center is-justify-content-center is-flex-direction-column">
                                    <img src="/icons/lista-de-verificacion.png" class="image is-96x96" alt="">
                                    <h1 class="has-text-grey-lighter title is-size-5 mt-2">Se ha autorizado la transferencia.</h1>
                                </div>

                            </section>
                            <footer class="modal-card-foot">
                                <button class="button is-link">Continuar</button>
                            </footer>
                        </div>
                    </div>
                    <button class="button is-danger open-modal" data-target="modal-main-auth2">Denegar</button>
                    <div class="modal" id="modal-main-auth2">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title has-text-danger">Solicitud Denegada</p>
                                <button class="delete close-modal" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body">
                                <div class="is-flex is-align-items-center is-justify-content-center is-flex-direction-column">
                                    <img src="/icons/prohibido.png" class="image is-96x96" alt="">
                                    <h1 class="has-text-grey-lighter title is-size-5 mt-2">Se ha negado la transferencia.</h1>
                                </div>

                            </section>
                            <footer class="modal-card-foot">
                                <button class="button is-link">Continuar</button>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>