<section class="container">
    <div class="is-flex">
        <label for="" class="is-size-7-mobile is-size-6-tablet is-size-6-desktop is-size-6-fullhd">Centro de
            trabajo — Roles y permiso</label>
        <label for="" class="is-size-7-mobile is-size-6-tablet is-size-6-desktop is-size-6-fullhd ml-auto">Instituto Tecnológico de Chetumal</label>
    </div>
    <div class="container">
        <div class="columns mt-2">
            <!-- Columna Izquierda (8 de 12 columnas en pantallas grandes, 12 en móviles) -->
            <div class="column is-12-tablet is-4-desktop is-mobile">
                <div class="p-3">
                    <form action="" class="is-flex is-align-items-center ">
                        <input class="custom-Input-Text is-fullwidth" type="text" placeholder="Nuevo rol" />
                        <input class="button is-link" type="submit" value="Añadir">
                    </form>
                </div>
                <div class="custom-cards p-1">
                    <table class="table custom-table is-fullwidth ">
                        <tr class="m-1">
                            <th class="has-text-grey-lighter">Rol</th>
                            <th class="has-text-grey-lighter">Acciones</th>
                        </tr>
                        <tr>
                            <td class="has-text-grey">Administrador</td>
                            <td class="is-flex">
                                <button>
                                    <i class="fa-solid fa-trash" style="color: #777777;"></i>
                                </button>
                                <button class="ml-3">
                                    <i class="fa-solid fa-pen-to-square"
                                        style="color: #777777;"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-grey">Gestor superior</td>
                            <td class="is-flex">
                                <button>
                                    <i class="fa-solid fa-trash" style="color: #777777;"></i>
                                </button>
                                <button class="ml-3">
                                    <i class="fa-solid fa-pen-to-square"
                                        style="color: #777777;"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-grey">
                                Jefe de departamento
                            </td>
                            <td class="is-flex">
                                <button>
                                    <i class="fa-solid fa-trash" style="color: #777777;"></i>
                                </button>
                                <button class="ml-3">
                                    <i class="fa-solid fa-pen-to-square"
                                        style="color: #777777;"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="column is-12-tablet is-8-desktop is-mobile custom-cards">
                <div>
                    <div class="is-flex">
                        <h1 class="has-text-white">Administrador</h1>
                        <div class="ml-auto switch-container is-flex is-align-items-center">
                            <input type="checkbox" id="switch-roles1" class="custom-switch">
                            <label for="switch-roles1"></label>
                        </div>
                    </div>
                    <div>
                        <p class="has-text-white">Otorga todos los permisos de administrador al usuario seleccionado.
                            A expceción de la gestión del centro de trabajo al que esta asignado
                        </p>
                    </div>
                    <hr>
                </div>
                <div class="mt-2">
                    <div class="is-flex">
                        <h1 class="has-text-white">Visualización de auditoria</h1>
                        <div class="ml-auto switch-container is-flex is-align-items-center">
                            <input type="checkbox" id="switch-roles2" class="custom-switch">
                            <label for="switch-roles2"></label>
                        </div>
                    </div>
                    <div>
                        <p class="has-text-white">
                            El usuario tendra acceso a todo el registro de auditoria que se lleve hasta el momento.
                            Sin embargo, no podrá configurar los parametros del mismo.
                        </p>
                    </div>
                    <hr>
                </div>
                <div class="mt-2">
                    <div class="is-flex">
                        <h1 class="has-text-white">Visualización de bienes del área</h1>
                        <div class="ml-auto switch-container is-flex is-align-items-center">
                            <input type="checkbox" id="switch-roles3" class="custom-switch">
                            <label for="switch-roles3"></label>
                        </div>
                    </div>
                    <div>
                        <p class="has-text-white">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis alias ullam nemo provident tempore perferendis aperiam deserunt illo aspernatur esse laboriosam voluptatum maxime voluptate ex mollitia dicta ducimus, commodi velit!
                        </p>
                    </div>
                    <hr>
                </div>
                <div class="mt-2">
                    <div class="is-flex">
                        <h1 class="has-text-white">Visualización de usuarios</h1>
                        <div class="ml-auto switch-container is-flex is-align-items-center">
                            <input type="checkbox" id="switch-roles4" class="custom-switch">
                            <label for="switch-roles4"></label>
                        </div>
                    </div>
                    <div>
                        <p class="has-text-white">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptatibus sequi, assumenda dolorem quidem velit? Blanditiis unde obcaecati porro ipsum, natus, sunt, inventore placeat reprehenderit cumque quod fugit voluptatem similique!
                        </p>
                    </div>
                    <hr>
                </div>
                <div class="mt-2">
                    <div class="is-flex">
                        <h1 class="has-text-white">Gestión de usuarios</h1>
                        <div class="ml-auto switch-container is-flex is-align-items-center">
                            <input type="checkbox" id="switch-roles6" class="custom-switch">
                            <label for="switch-roles6"></label>
                        </div>
                    </div>
                    <div>
                        <p class="has-text-white">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iusto fugit sit est magni quas in enim tempore consequuntur, voluptas accusamus rerum excepturi, dolore, expedita veniam nam temporibus doloremque qui!
                        </p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>