<section class="container">
    <div class="is-flex">
        <label for="" class="is-size-7-mobile is-size-6-tablet is-size-6-desktop is-size-6-fullhd">Resguardantes</label>
        <label for="" class="is-size-7-mobile is-size-6-tablet is-size-6-desktop is-size-6-fullhd ml-auto">Instituto
            Tecnológico de Chetumal</label>
    </div>
    <div class="container">
        <div class="columns mt-2">
            <div class="column is-12-tablet is-4-desktop is-mobile">
                <div>
                    <h1 class="has-text-white-bis title is-2">Juan Perez</h1>
                </div>
                <div>
                    <div class="is-flex is-align-items-center mt-4">
                        <i class="fa-solid fa-briefcase" style="color: #ffffff;"></i>
                        <h2 class="ml-2">Jefe de departamento</h2>
                    </div>
                    <div class="is-flex is-align-items-center mt-4">
                        <i class="fa-solid fa-building" style="color: #ffffff;"></i>
                        <h2 class="ml-2">Instituto Tecnológico de Chetumal</h2>
                    </div>
                    <div class="is-flex is-align-items-center mt-4">
                        <i class="fa-solid fa-map" style="color: #ffffff;"></i>
                        <h2 class="ml-2">Sistemas</h2>
                    </div>
                    <div class="is-flex is-align-items-center mt-4">
                        <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                        <h2 class="ml-2">juan.perez@example.com</h2>
                    </div>
                    <div class="is-flex is-align-items-center mt-4">
                        <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
                        <h2 class="ml-2">987654321</h2>
                    </div>
                    <div class="is-flex is-align-items-center mt-4">
                        <i class="fa-solid fa-shield-halved" style="color: #ffffff;"></i>
                        <h2 class="ml-2">Resguardante con privilegios</h2>
                    </div>
                </div> 
                
                <div class="custom-cards custom-shadow-cards-danger mt-6 p-3">
                    <h1 class="title is-5 has-text-danger">Objetos Extraviados</h1>
                    <div class="is-flex is-align-items-center">
                        <i class="fa-solid fa-magnifying-glass-location" style="color: #b30000;"></i>
                        <a href="">
                            <p class="ml-2 has-text-grey-lighter custom-link">Fichero de metal</p>
                        </a>
                    </div>
                    <div class="mt-4">
                        <strong class="has-text-grey-lighter">Úbicaciones registradas</strong>
                        <div class="mt-3  is-flex is-flex-direction-column">
                            <small class="has-text-grey"> — Edificio P</small>
                            <small class="has-text-grey"> — Edificio X</small>
                            <small class="has-text-grey"> — Edificio V</small>
                            <small class="has-text-grey"> — Subdirección Acádemica</small>
                        </div>

                    </div>
                </div>
            </div>
            <div class="column is-12-tablet is-8-desktop is-mobile custom-cards custom-shadow-cards-link">
                <h1 class="has-text-grey-lighter title is-4">Bienes asignados</h1>
                <table class="table is-fullwidth custom-table">
                    <thead>
                        <tr>
                            <th class="has-text-grey-lighter">Código</th>
                            <th class="has-text-grey-lighter">Nombre</th>
                            <th class="has-text-grey-lighter">Estado</th>
                            <th class="has-text-grey-lighter">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="has-text-grey">xxxx-xxxx-xxxx</td>
                            <td class="has-text-grey">Computadora</td>
                            <td class="has-text-success">Activo</td>
                            <td class="is-flex is-align-items-center">
                                <button class="button">
                                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                </button>
                                <button class="button">
                                    <i class="fa-solid fa-trash" style="color: #e15656;"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-grey">xxxx-xxxx-xxxx</td>
                            <td class="has-text-grey">Impresora</td>
                            <td class="has-text-success">Activo</td>
                            <td class="is-flex is-align-items-center">
                                <button class="button">
                                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                </button>
                                <button class="button">
                                    <i class="fa-solid fa-trash" style="color: #e15656;"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-grey">xxxx-xxxx-xxxx</td>
                            <td class="has-text-grey">Silla de madera</td>
                            <td class="has-text-success">Activo</td>
                            <td class="is-flex is-align-items-center">
                                <button class="button">
                                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                </button>
                                <button class="button">
                                    <i class="fa-solid fa-trash" style="color: #e15656;"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-grey">xxxx-xxxx-xxxx</td>
                            <td class="has-text-grey">Laptop HP</td>
                            <td class="has-text-warning">En Mantenimiento</td>
                            <td class="is-flex is-align-items-center">
                                <button class="button">
                                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                </button>
                                <button class="button">
                                    <i class="fa-solid fa-trash" style="color: #e15656;"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-grey">xxxx-xxxx-xxxx</td>
                            <td class="has-text-grey">Mesa de oficina</td>
                            <td class="has-text-success">Activo</td>
                            <td class="is-flex is-align-items-center">
                                <button class="button">
                                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                </button>
                                <button class="button">
                                    <i class="fa-solid fa-trash" style="color: #e15656;"></i>
                                </button>
                            </td>
                        </tr>
                        <tr class="custom-shadow-cards-danger">
                            <td class="has-text-danger">xxxx-xxxx-xxxx</td>
                            <td class="has-text-danger">Ficher de metal</td>
                            <td class="has-text-danger">Extraviado</td>
                            <td class="is-flex is-align-items-center">
                                <button class="button">
                                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                </button>
                                <button class="button">
                                    <i class="fa-solid fa-trash" style="color: #e15656;"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-grey">xxxx-xxxx-xxxx</td>
                            <td class="has-text-grey">Computadora portátil</td>
                            <td class="has-text-success">Activo</td>
                            <td class="is-flex is-align-items-center">
                                <button class="button">
                                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                </button>
                                <button class="button">
                                    <i class="fa-solid fa-trash" style="color: #e15656;"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-grey">xxxx-xxxx-xxxx</td>
                            <td class="has-text-grey">Impresora láser</td>
                            <td class="has-text-success">Activo</td>
                            <td class="is-flex is-align-items-center">
                                <button class="button">
                                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                </button>
                                <button class="button">
                                    <i class="fa-solid fa-trash" style="color: #e15656;"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav class="pagination" role="navigation" aria-label="pagination">
                    <a class="pagination-previous is-disabled" title="This is the first page">Previous</a>
                    <a href="#" class="pagination-next">Next page</a>
                    <ul class="pagination-list">
                        <li>
                            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
                        </li>
                        <li>
                            <a href="#" class="pagination-link" aria-label="Goto page 2">2</a>
                        </li>
                        <li>
                            <a href="#" class="pagination-link" aria-label="Goto page 3">3</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>