<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/icons/favicon.png" type="image/x-icon">
    <title>Acerca de Nosotros - RAFH</title>
    <!-- Referencias -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"> <!--Para usar los icons de succes-->
    <link rel="stylesheet" href="/bulma/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/acercaNosotros.css">
</head>

<body>
    <%- include('components/navbar') %>

        <!-- Header -->
        <section class="custom-section-first">
            <div class="custom-sf-div">
                <div class="container has-text-centered">
                    <h1
                        class="custom-family-text has-text-white has-text-center-desktop is-size-2-mobile is-size-1-tablet is-size-1-desktop is-size-1-fullhd">
                        ACERCA DE
                        <br>
                        NOSOTROS
                    </h1>
                    <h2
                        class="custom-subtitle has-text-center-desktop is-size-5-mobile is-size-3-tablet is-size-3-desktop is-size-3-fullhd">
                        RAFH System
                    </h2>
                </div>
            </div>
        </section>

        <!-- Descripción del Sistema -->
        <section class="section">
            <div class="container">
                <div class="section-heading">
                    <h3 class="title is-2">Descripción del Sistema</h3>
                    <div class="content has-text-centered">
                        <p class="is-size-5">
                            El Sistema RAFH es una plataforma digital diseñada para mejorar la gestión de bienes
                            materiales dentro de la institución.
                            Permite el registro, control, seguimiento y trazabilidad de los activos de manera eficiente,
                            eliminando procesos manuales
                            y optimizando el tiempo de los usuarios. Con una interfaz intuitiva y herramientas
                            avanzadas, RAFH garantiza mayor
                            precisión, seguridad y rapidez en la administración de bienes.
                        </p>
                    </div>
                </div>
                <!-- Mision -->
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="card custom-button-primary has-text-white">
                            <div class="card-content">
                                <h3 class="title is-4 has-text-white">Misión</h3>
                                <div class="content has-text-centered">
                                    Facilitar la gestión y control de bienes materiales mediante una plataforma
                                    eficiente,
                                    segura e intuitiva, reduciendo errores y eliminando procesos manuales para optimizar
                                    el trabajo de los usuarios.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Vision -->
                    <div class="column is-6">
                        <div class="card custom-button-primary has-text-white">
                            <div class="card-content">
                                <h3 class="title is-4 has-text-white">Visión</h3>
                                <div class="content has-text-centered">
                                    Ser el sistema líder en la administración de bienes dentro de la institución,
                                    proporcionando innovación tecnológica, trazabilidad en tiempo real y una gestión
                                    transparente, eficiente y accesible para todos los usuarios.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Valores -->
                <div class="section-heading mt-6">
                    <h3 class="title is-2">Nuestros Valores</h3>
                    <div class="columns is-multiline mt-4">
                        <div class="column is-4">
                            <div class="box has-text-centered">
                                <span class="icon is-large has-text-success">
                                    <span class="icon-verify"></span>
                                </span>
                                <h4 class="title is-4 mt-4">Eficiencia</h4>
                                <p>Optimizamos los procesos para ahorrar tiempo y recursos.</p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="box has-text-centered">
                                <span class="icon has-text-success is-large">
                                    <span class="icon-verify"></span>
                                </span>
                                <h4 class="title is-4 mt-4">Transparencia</h4>
                                <p>Garantizamos un control claro y preciso de los bienes.</p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="box has-text-centered">
                                <span class="icon has-text-success is-large">
                                    <span class="icon-verify"></span>
                                </span>
                                <h4 class="title is-4 mt-4">Innovación</h4>
                                <p>Implementamos tecnología avanzada para mejorar la gestión.</p>
                            </div>
                        </div>
                        <div class="column is-4 is-offset-2">
                            <div class="box has-text-centered">
                                <span class="icon has-text-success is-large">
                                    <span class="icon-verify"></span>
                                </span>
                                <h4 class="title is-4 mt-4">Seguridad</h4>
                                <p>Protegemos la información y evitamos pérdidas de datos.</p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="box has-text-centered">
                                <span class="icon has-text-success is-large">
                                    <span class="icon-verify"></span>
                                </span>
                                <h4 class="title is-4 mt-4">Responsabilidad</h4>
                                <p>Comprometidos con la mejora continua del sistema y la satisfacción del usuario.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>RAFH System</strong> © 2024. Todos los derechos reservados.
                </p>
            </div>
        </footer>

        <script async type="text/javascript" src="/js/bulma.js"></script>
</body>

</html>