<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/icons/favicon.png" type="image/x-icon">
    <title>Contáctanos - RAFH</title>
    <link rel="stylesheet" href="/bulma/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/contactanos.css">
</head>

<body>
    <%- include('components/navbar') %>

        <!-- Header -->
        <section class="custom-section-first">
            <div class="custom-sf-div">
                <div class="container has-text-centered">
                    <h1
                        class="custom-family-text has-text-white has-text-center-desktop is-size-2-mobile is-size-1-tablet is-size-1-desktop is-size-1-fullhd">
                        CONTÁCTANOS
                    </h1>
                    <h2
                        class="custom-subtitle has-text-center-desktop is-size-5-mobile is-size-3-tablet is-size-3-desktop is-size-3-fullhd">
                        RAFH System
                    </h2>
                </div>
            </div>
        </section>

        <!-- Formulario de Contacto -->
        <section class="section">
            <div class="container">
                <div class="columns is-8 is-variable">
                    <div class="column is-two-thirds has-text-left">
                        <h1 class="title is-2">Ponte en Contacto</h1>
                        <p class="is-size-4">¿Tienes alguna pregunta o necesitas ayuda? No dudes en contactarnos.
                            Estamos aquí para ayudarte.</p>
                        <div class="social-media mt-6 has-text-centered">
                            <a href="#">
                                <img src="/icons/whatsapp.png" alt="whatsapp" width="24" height="24">
                            </a>
                            <a href="#">
                                <img src="/icons/twitter.png" alt="twitter" width="24" height="24">
                            </a>
                            <a href="#">
                                <img src="/icons/youtube.png" alt="youtube" width="24" height="24">
                            </a>
                        </div>
                    </div>
                    <div class="column is-one-third has-text-left">
                        <div class="box">
                            <div class="field">
                                <label class="label">Nombre</label>
                                <div class="control">
                                    <input class="input is-medium" type="text" placeholder="Ingresa tu nombre">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                    <input class="input is-medium" type="email" placeholder="tu@email.com">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Mensaje</label>
                                <div class="control">
                                    <textarea class="textarea is-medium"
                                        placeholder="Escribe tu mensaje aquí"></textarea>
                                </div>
                            </div>
                            <div class="control">
                                <button type="submit"
                                    class="button is-link is-fullwidth has-text-weight-medium is-medium">
                                    Enviar Mensaje
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>RAFH System</strong> © 2024. Todos los derechos reservados.
                </p>
            </div>
        </footer>

        <script async type="text/javascript" src="/js/bulma.js"></script>
</body>

</html>