<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bulma/bulma.min.css">
    <link rel="stylesheet" href="/styles/home.styles.css">
    <link rel="shortcut icon" href="/icons/favicon.png" type="image/x-icon">
    <title>RAFH</title>
</head>

<body class="has-navbar-fixed-top has-background-white-bis">
    <%- include('components/navbar') %>
        <section class="custom-section-first">
            <div class="custom-sf-div">
                <h1
                    class="custom-family-text has-text-white has-text-center-desktop is-size-2-mobile is-size-1-tablet is-size-1-desktop is-size-1-fullhd">
                    OPTIMIZACIÓN
                </h1>
                <h1
                    class="custom-family-text has-text-white has-text-center-desktop is-size-2-mobile is-size-1-tablet is-size-1-desktop is-size-1-fullhd">
                    EFICIENCIA Y
                </h1>
                <h1
                    class="custom-family-text has-text-white has-text-center-desktop is-size-2-mobile is-size-1-tablet is-size-1-desktop is-size-1-fullhd">
                    SENCILLEZ
                </h1>
                <h5
                    class="custom-subtitle has-text-center-desktop is-size-5-mobile is-size-3-tablet is-size-3-desktop is-size-3-fullhd">
                    Inventarios precisos, decisiones inteligentes.
                </h5>
            </div>
        </section>
        <section class="custom-section-second container">
            <div class="custom-sc-div p-5">
                <h2
                    class="has-text-weight-light has-text-white has-text-left-desktop is-size-2-mobile is-size-3-tablet is-size-3-desktop is-size-3-fullhd">
                    Todo lo que necesitas en un solo lugar</h2>
                <div class="container">
                    <div class="is-flex p-5">
                        <img class="image is-96x96 mr-5" src="/icons/usuarios.png" alt="">
                        <div class="container custom-modules">
                            <h3
                                class="custom-family-text2 has-text-left-desktop is-size-4-mobile is-size-3-tablet is-size-5-desktop is-size-5-fullhd">
                                Control de usarios</h3>
                            <p
                                class="custom-family-text2 has-text-left-desktop is-size-4-mobile is-size-3-tablet is-size-5-desktop is-size-5-fullhd">
                                Gestione accesos, permisos y actividades para un control seguro y eficiente del sistema
                                de inventarios.</p>
                        </div>
                    </div>
                    <div class="is-flex p-5">
                        <img class="image is-96x96 mr-5" src="/icons/edificio.png" alt="">
                        <div class="container custom-modules">
                            <h3
                                class="custom-family-text2 has-text-left-desktop is-size-4-mobile is-size-3-tablet is-size-5-desktop is-size-5-fullhd">
                                Control de centros de trabajo</h3>
                            <p
                                class="custom-family-text2 has-text-left-desktop is-size-4-mobile is-size-3-tablet is-size-5-desktop is-size-5-fullhd">
                                Gestione y supervise multiples centros de trabajo para un mejor control sobre los
                                activos y personal</p>
                        </div>
                    </div>
                    <div class="is-flex p-5">
                        <img class="image is-96x96 mr-5" src="/icons/oficina.png" alt="">
                        <div class="container custom-modules">
                            <h3
                                class="custom-family-text2 has-text-left-desktop is-size-4-mobile is-size-3-tablet is-size-5-desktop is-size-5-fullhd">
                                Control de bienes materiales</h3>
                            <p
                                class="custom-family-text2 has-text-left-desktop is-size-4-mobile is-size-3-tablet is-size-5-desktop is-size-5-fullhd">
                                Monitoree y gestione el inventario de bienes materiales para un control preciso y
                                actualizado.</p>
                        </div>
                    </div>
                    <div class="is-flex p-5">
                        <img class="image is-96x96 mr-5" src="/icons/zona.png" alt="">
                        <div class="container custom-modules">
                            <h3
                                class="custom-family-text2 has-text-left-desktop is-size-4-mobile is-size-3-tablet is-size-5-desktop is-size-5-fullhd">
                                Control de áreas especializadas</h3>
                            <p
                                class="custom-family-text2 has-text-left-desktop is-size-4-mobile is-size-3-tablet is-size-5-desktop is-size-5-fullhd">
                                Administre y supervise áreas, departamentos y edificios para un mejor control de activos
                                e inventarios.</p>
                        </div>
                    </div>
                    <div class="is-flex p-5">
                        <img class="image is-96x96 mr-5" src="/icons/herramienta.png" alt="">
                        <div class="container custom-modules">
                            <h3
                                class="custom-family-text2 has-text-left-desktop is-size-4-mobile is-size-3-tablet is-size-5-desktop is-size-5-fullhd">
                                Mantenimiento de bienes</h3>
                            <p
                                class="custom-family-text2 has-text-left-desktop is-size-4-mobile is-size-3-tablet is-size-5-desktop is-size-5-fullhd">
                                Supervise y registre el mantenimiento de bienes para asegurar su funcionalidad.</p>
                        </div>
                    </div>
                    <div class="is-flex p-5">
                        <img class="image is-96x96 mr-5" src="/icons/documento.png" alt="">
                        <div class="container custom-modules">
                            <h3
                                class="custom-family-text2 has-text-left-desktop is-size-4-mobile is-size-3-tablet is-size-5-desktop is-size-5-fullhd">
                                Generación de reportes dinámicos</h3>
                            <p
                                class="custom-family-text2 has-text-left-desktop is-size-4-mobile is-size-3-tablet is-size-5-desktop is-size-5-fullhd">
                                Genere reportes detallados para un análisis completo y una toma de decisiones informada.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="custom-section-third">
            <div class="container p-6">
                <h1 class="custom-family-text2 has-text-black mt-6 is-size-2-mobile is-size-1-tablet is-size-1-desktop is-size-1-fullhd">Una captura de tu inventario más eficiente</h1>
                <p class="is-size-3-mobile is-size-5-tablet is-size-5-desktop is-size-5-fullhd mb-6">Te ofrecemos un sistema en linea y una aplicación movil para la captura de tu inventario. Y todo sincronizado!</p>
                <div class="is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center p-6">
                    <img class="image is-128x128 mx-5 is-96x96-mobile is-128x128-tablet is-192x192-desktop" src="/icons/laptop.png" alt="Laptop">
                    <img class="image is-128x128 mx-5 is-96x96-mobile is-128x128-tablet is-192x192-desktop" src="/icons/tableta.png" alt="Tablet">
                    <img class="image is-128x128 mx-5 is-96x96-mobile is-128x128-tablet is-192x192-desktop" src="/icons/telefono.png" alt="Teléfono">
                </div>
                <button class="button is-outlined p-4">Pruebalo!</button>
                
            </div>
        </section>
        <section class="custom-section-third">
            <h1 class="custom-family-text2 has-text-black mt-6 is-size-2-mobile is-size-1-tablet is-size-1-desktop is-size-1-fullhd">FAQ</h1>
            <p class="is-size-3-mobile is-size-5-tablet is-size-5-desktop is-size-5-fullhd mb-6">Aquí encontrará las respuestas a las preguntas más frecuentes.</p>
            <div class="container mt-5">
                <div class="accordion box">
                    <!-- Ítem 1 -->
                    <div class="accordion">
                        <button class="accordion-button is-fullwidth  is-max-tablet has-text-left accordion-toggle">
                            ¿Se manejarán diferentes tipos de inventarios?
                        </button>
                        <div class="accordion-content p-4">
                            <p class="has-text-grey">Por supuesto, el RAFH permite gestionar distintos tipos de bienes dentro de cada inventario. Al definir un tipo de centro de trabajo, es posible administrar uno o varios tipos de bienes de manera eficiente.</p>
                        </div>
                    </div>
            
                    <!-- Ítem 2 -->
                    <div class="accordion mt-2">
                        <button class="accordion-button is-fullwidth is-max-tablet has-text-left accordion-toggle">
                            ¿Qué roles de usuario manejará el sistema (administrador, operador, auditor, etc.)?
                        </button>
                        <div class="accordion-content p-4">
                            <p class="has-text-grey">El sistema opera con tres roles principales: Administrador, Gestores y Resguardantes. Estos roles son asignados por el Administrador del sistema, quien también es el creador del centro de trabajo.</p>
                        </div>
                    </div>
            
                    <!-- Ítem 3 -->
                    <div class="accordion mt-2">
                        <button class="accordion-button is-fullwidth is-max-tablet  has-text-left is-outlined accordion-toggle">
                            ¿Cómo se controlará el acceso a la información y funciones del sistema?
                        </button>
                        <div class="accordion-content p-4">
                            <p class="has-text-grey">El acceso a la información y las funciones del sistema se controlará mediante un sistema de roles y permisos. Cada usuario tendrá un rol asignado (Administrador, Gestor o Resguardante), lo que determinará las acciones y datos a los que puede acceder. Además, se implementará autenticación segura y validaciones para garantizar que solo los usuarios autorizados puedan realizar ciertas operaciones dentro del sistema.</p>
                        </div>
                    </div>
                    <!-- Ítem 3 -->
                    <div class="accordion mt-2">
                        <button class="accordion-button is-fullwidth is-max-tablet  has-text-left is-outlined accordion-toggle">
                            ¿Cómo se registrarán los productos? ¿Manualmente, por importación de archivos o mediante código de barras/QR?
                        </button>
                        <div class="accordion-content p-4">
                            <p class="has-text-grey">Sí, el sistema registrará los productos mediante códigos QR. Cada producto contará con un código único que permitirá su identificación y gestión dentro del inventario de manera rápida y precisa. Además, se integrarán herramientas para la generación, escaneo y asociación de códigos QR a los bienes registrados.</p>
                        </div>
                    </div>
                    <div class="accordion mt-2">
                        <button class="accordion-button is-fullwidth is-max-tablet  has-text-left is-outlined accordion-toggle">
                            Es posible exportar los reportes en formatos como PDF o Excel?
                        </button>
                        <div class="accordion-content p-4">
                            <p class="has-text-grey">Sí, el sistema permitirá la exportación de reportes en formatos como PDF y Excel, facilitando el análisis y la gestión de la información. Los usuarios podrán generar estos reportes según los filtros y criterios seleccionados, asegurando flexibilidad en la consulta de datos..</p>
                        </div>
                    </div>
                    <div class="accordion mt-2">
                        <button class="accordion-button is-fullwidth is-max-tablet  has-text-left is-outlined accordion-toggle">
                            ¿Se necesita sincronización en tiempo real con otros sistemas?
                        </button>
                        <div class="accordion-content p-4">
                            <p class="has-text-grey">Sí, se requiere sincronización en tiempo real con la aplicación móvil que se ofrece en conjunto. Esto permitirá una actualización constante de los datos entre el sistema web y la aplicación móvil, asegurando que la información esté siempre al día y disponible en ambos entornos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('components/footer') %>
        <script src="/scripts/home.scripts.js"></script>
</body>

</html>