


/* Efectos de hover para las cards */
.card {
    transition: all 0.3s ease;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
}

/* Estilo personalizado para el hero banner */
.hero.is-primary {
    background: linear-gradient(135deg, #0b1729, #1766d6);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.hero.is-primary::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, transparent 48%, rgba(255,255,255,0.1) 50%, transparent 52%);
    background-size: 200% 200%;
    animation: shine 3s infinite;
}

/* Personalización de las imágenes en las cards */
.card-image figure {
    position: relative;
    overflow: hidden;
}

.card-image img {
    transition: transform 0.5s ease;
}

.card:hover .card-image img {
    transform: scale(1.1);
}

/* Estilo para el contenido de las cards */
.card-content {
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.05);;
}

.card-content .title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.card-content .subtitle {
    font-size: 0.9rem;
}


/* Animaciones */
@keyframes shine {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .column.is-3 {
        padding: 0.5rem;
    }
    
    .card-content {
        padding: 1rem;
    }
}

.custom-button-primary{
    background-color: rgb(0, 60, 204);
}
