/* Eliminar la barra de desplazamiento horizontal */
.table-container {
    overflow-x: hidden !important;
    width: 100%;
}

.custom-table {
    table-layout: fixed;
    width: 100%;
}

/* Ajustar el ancho de las columnas */
.custom-table th,
.custom-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Anchos específicos para cada columna */
.custom-table th:nth-child(1),
.custom-table td:nth-child(1) {
    width: 15%;
}

/* Nombre */

.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
    width: 15%;
}

/* Apellidos */

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
    width: 17%;
}

/* Puesto/Cargo */

.custom-table th:nth-child(4),
.custom-table td:nth-child(4) {
    width: 17%;
}

/* Área */

.custom-table th:nth-child(5),
.custom-table td:nth-child(5) {
    width: 17%;
}

/* Departamento */

.custom-table th:nth-child(6),
.custom-table td:nth-child(6) {
    width: 17%;
}

/* Correo */

.custom-table th:nth-child(7),
.custom-table td:nth-child(7) {
    width: 17%;
}

/* Teléfono */

.custom-table th:nth-child(8),
.custom-table td:nth-child(8) {
    width: 17%;
}

/* Rol */

.custom-table th:nth-child(9),
.custom-table td:nth-child(9) {
    width: 20%;
    padding: 0.5em !important;
}

/* Acciones */
/* Arreglar el problema de la línea gris en los botones */
.actions-column {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 0.19rem !important;
    border-bottom: 1px solid #363636 !important;
}

/* Estilo para los botones en la columna de acciones */
.actions-column .button {
    height: 2rem !important;
    width: 2rem !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: transparent !important;
    border: none !important;
}

/* Asegurar que la tabla ocupe todo el ancho disponible */
.table.is-fullwidth {
    width: 100% !important;
    margin: 0 !important;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}